---
- name: Install metrics
  shell: "ansible-playbook /usr/share/ansible/openshift-ansible/playbooks/byo/openshift-cluster/openshift-metrics.yml -e openshift_metrics_install_metrics=True -i openshift_inventory.cfg"
  delegate_to: "18.231.25.74" #"{{bastion_public_ip}}"
  remote_user: "{{amazon_user}}"
  ignore_errors: true
  become: false
  when: false

- name: Install epel-release
  shell: "rpm -Uvh http://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"
  delegate_to: "18.231.25.74" #"{{bastion_public_ip}}"
  remote_user: "{{amazon_user}}"
  ignore_errors: true
  become: true
  
- stat: path=/etc/letsencrypt/live/bastion.ck.osecloud.com/fullchain.pem
  register: cert_f
  delegate_to: "18.231.25.74" #"{{master_public_ip}}"
  remote_user: "{{amazon_user}}"
  become: true

- name: install certbot and shellinabox
  yum:
    name:
      - "shellinabox"
      - "certbot"
    state: "present"
  become: true
  delegate_to: "18.231.25.74" #"{{master_public_ip}}"
  when: cert_f.stat.isdir is not defined
  
- name: Get certs
  shell: "certbot certonly --standalone -d bastion.ck.osecloud.com  --email 9chakri@gmail.com --agree-tos -n" 
  delegate_to: "18.231.25.74" #"{{master_public_ip}}"
  remote_user: "{{amazon_user}}"
  become: true
  ignore_errors: true
  when: provision_ssl_certs and cert_f.stat.isdir is not defined

- name: OpenShift login
  shell: "oc login -u system:admin"
  delegate_to: "{{master_public_ip}}"
  remote_user: "{{amazon_user}}"
  become: false
  ignore_errors: true
  when: install_gluster
  

- name: Disable AWS default storage class
  shell: "oc patch storageclass gp2 -p '{\"metadata\": {\"annotations\": {\"storageclass.kubernetes.io/is-default-class\": \"false\"}}}' -n openshift"
  delegate_to: "{{master_public_ip}}"
  remote_user: "{{amazon_user}}"
  become: false
  when: install_gluster
  ignore_errors: true

- name: Disable AWS default beta storage class
  shell: "oc patch storageclass gp2 -p '{\"metadata\": {\"annotations\": {\"storageclass.beta.kubernetes.io/is-default-class\": \"false\"}}}' -n openshift"
  delegate_to: "{{master_public_ip}}"
  remote_user: "{{amazon_user}}"
  become: false
  when: install_gluster
  ignore_errors: true

- name: Enable gluster default storage class
  shell: "oc patch storageclass glusterfs-storage -p '{\"metadata\": {\"annotations\": {\"storageclass.kubernetes.io/is-default-class\": \"true\"}}}' -n openshift"
  delegate_to: "{{master_public_ip}}"
  remote_user: "{{amazon_user}}"
  become: false
  when: install_gluster
  ignore_errors: true
